/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* general */
h1 {
    font-size: 28px;
    font-weight: 600;
}
body {
    font-family: 'Montserrat', sans-serif;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 500px;
    margin: 40px auto;
    box-shadow: 5px 5px 5px 5px #DADADA;
    border-radius: 8px;
}
.parent {
    padding: 25px;
    background-color: #1E90FF;
    color: white;
    text-align: center;
    border-radius: 8px 8px 0 0;
}
i {
    font-size: 50px;
    margin: 0 0 40px 25px;
}

h2 {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 20px;
}
.user-icon i {
    color: #1E90FF;
    cursor: pointer;
}
.user-icon,
.computer-icon {
    text-align: center;
}
.computer-icon i {
    color: #EB2B34;
}
.game {
    padding: 40px 0;
}
.result {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
}
.user-selection {
    display: inline-block;
    margin-left: 20px;
    color: #1E90FF;
}
.computer-selection {
    display: inline-block;
    margin-left: 20px;
    color: #EB2B34;
}
.redo {
    cursor: pointer;
}