/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* custom style */
*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: #223944;
	font-family: "Montserrat", sans-serif;
}

.container {
	max-width: 500px;
	margin: 180px auto;
}

.buttons {
	background-color: #fffffd;
	border-radius: 0 0 5px 5px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	gap: 0.8rem;
	text-align: center;
	padding: 0.8rem;
}

.output {
	background-color: #000000;
	color: #fff;
	line-height: 1.8;
	font-size: 2rem;
	font-weight: 400;
	border-radius: 5px 5px 0 0;
	width: 100%;
	height: 80px;
	padding: 0.8rem;
	overflow: hidden;
	text-align: right;
}

.eval {
	grid-column: 4 / 5;
	grid-row: 2 / 6;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0ace56;
	font-weight: 500;
	color: #fff;
	font-size: 2rem;
}

.btn,
.eval,
.operation {
	padding: 1rem 2rem;
	border-radius: 6px;
	font-size: 1.25rem;
	font-weight: 400;
	cursor: pointer;
}

.btn {
	background-color: #c8c8c8;
}

.operation {
	background-color: #808080;
	color: #fff;
}

.clear {
	background-color: #fe2a28;
}

